{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/discovery.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/discovery.js') }}" defer></script>
{% endblock %}

{% block title %}Discovery
{% endblock %}


{% block main %}
	{# {{ dump(isAlreadyInPlaylist)}}
															{{ dump(tracks)}} #}
	<div id="discovery">

		<div id="divSearch">
			<i id="searchIcon" class="fa-solid fa-magnifying-glass"></i>
			<input id="search" type="text" placeholder="Rechercher">
			<hr>
		</div>

		<div id="divSwiper">
			<div class="swiper mySwiper">
				<div
					class="swiper-wrapper">{# JS INJECT #}
				</div>
				<div class="swiper-pagination"></div>

			</div>
			<!-- Initialize Swiper -->
			<script></script>
		</div>

		<div id="divGenre">
			<h4 id="titleGenre">Genres</h4>

			<div class="divGenreButton">
				<button id="rapButton" class="genreButton" name="1996494362">Rap</button>
				<button id="popButton" class="genreButton" name="53362031">Pop</button>
				<button id="rockButton" class="genreButton" name="1306931615">Rock</button>
				<button id="rnbButton" class="genreButton" name="1384018035">R&amp;B</button>
				<button id="jazzButton" class="genreButton" name="10071848282">Jazz</button>
				<button id="classiqueButton" class="genreButton" name="747148961">Classique</button>
				<button id="varieteButton" class="genreButton" name="788022051">Variété française</button>
				<button id="reggaeButton" class="genreButton" name="2042023484">Reggae</button>
			</div>
		</div>

		<div>
			<h4 id="titleTab">Top France</h4>
			{% if isAlreadyInPlaylist is defined and isAlreadyInPlaylist == true %}
				<div id="error_message">Ce morceau est déjà enregistré dans cette playlist !</div>
			{% endif %}
			{% if trackAdded is defined and trackAdded == true %}
				<div id="confirm_message">Votre morceau a bien été enregistré à vos playlists</div>
			{% endif %}
			<div id="tableTop">
				<table style="margin:3%">
					<thead>
						<tr>
							<th class='img-td'></th>
							<th class='rank-td'></th>
							<th class='title-td'>TITRE</th>
							<th class='heart-td'></th>
							<th class='plus-td'></th>
							<th class='artist-td'>ARTISTE</th>
							<th class='album-td'>ALBUM</th>
						</tr>
					</thead>
					<tbody id="allTracks"></tbody>
				</table>
			</div>
		</div>
	</div>
	{# ---------Modal add track in playlist------------------ #}
	<div id="bg-dark"></div>
	<div id="modal">
		<span id="add_playlist_modal_header">
			<span class="fa-thin fa-plus"></span>
			Ajouter à une playlist</span>
		<span id="add_playlist_name">
			<form action="{{ path('discovery.index') }}" method="POST">
				<input type="hidden" name="track_id" id="track_id_input" value="">
				<select id="mySelect" name="playlist">
					{% for playlist in playlists %}
						<option value={{ playlist.getId() }}>{{ playlist.getNamePlaylist() }}</option>
						<hr>
					{% endfor %}
				</select>
				<input type="submit" value="Ajouter" id="submit-button"/>
			</form>
		</span>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% endblock %}
