{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/admin.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}

{% block title %}Hello AdminController!
{% endblock %}

{% block main %}
	{{ parent() }}
	<div class="admin_container">
		<div class="admin_title">
			<i class="fa-solid fa-lock"></i>
			<h2>Admin</h2>
		</div>

		<div class="admin_general">
    <p>
        <span id="nbrUser">{{ numberOfUsers }}</span> utilisateurs
    </p>
    <p>
        <span>{{ numberOfPlaylists }}</span> Playlists créées
    </p>
    <p>
        <span>1326</span> musiques likées
    </p>
</div>
	</div>
	<div class="admin_list_register">
    <table class="admin_table_users">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <i class="fas fa-user"></i>
                        {{ user.getPseudo() }}
                    </td>
                    <td>
                        <i class="fas fa-envelope"></i>
                        {{ user.getEmail() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
