{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/admin.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}

{% block title %}Dashboard
{% endblock %}

{% block main %}
	{% for message in app.flashes('erase') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
	{{ parent() }}
	<div class="admin_container">
		<div class="admin_title">
			<i class="fa-solid fa-lock"></i>
			<h2>Admin</h2>
		</div>

		<div class="admin_general">
			<p>
				<span id="nbrUser">{{ numberOfUsers }}</span>
				utilisateurs
			</p>
			<p>
				<span>{{ numberOfPlaylists }}</span>
				Playlists créées
			</p>
			<p>
				<span>{{ numberOfFavorites }}</span>
				musiques préférées
			</p>


		</div>
	</div>
	<div class="admin_list_register">
		<table class="admin_table_users">
			<thead>
				<tr>
					<th>Pseudo</th>
					<th>Mail</th>
					<th>Suppression de compte</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>
							<i class="fas fa-user"></i>
							{{ user.getPseudo() }}
						</td>
						<td>
							<i class="fas fa-envelope"></i>
							{{ user.getEmail() }}
						</td>

						{% if user.roles[0] != 'ROLE_ADMIN' %}
							<td>
								<a href="{{ path('admin.delete_user', {'id': user.id}) }}" onclick="return confirm('Are you sure you want to delete this user?')">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						{% else %}
							<td></td>
						{% endif %}

					</tr>
				</td>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table></div>{% endblock %}
