{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/playlist.css') }}">
{% endblock %}


{% block title %}Playlist
{% endblock %}

{% block main %}
	{% if id is not defined %}
		<div id="playlist-container">
			<div id="playlist-header">
				<h1>
					<i class="fa-solid fa-music"></i>
					Playlists
				</h1>
			</div>
			<div id="playlist-content">
				<h2>
					Playlists
				</h2>
				{% if isUsed is defined and isUsed == true %}
					<div id="error_message">Le nom de la playlist est déjà utilisé, veuillez en choisir un autre</div>
				{% endif %}
				<div id="track_container">
					<div id="add_playlist">
						<div class="playlist-image add_playlist_image">
							<span class="fa-thin fa-plus"></span>
						</div>
						<span>Ajouter une playlist</span>
					</div>
					{% for playlist in playlists %}
						<div id={{playlist.id}} class="track">
							<div
								class="playlist-image">
								{# {% if %} #}
								<img src="/assets/images/cd.jpg"/>
							</div>
							<span>{{ playlist.getNamePlaylist() }}</span>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if id is defined %}
		{{ dump(tracks_api_response)}}
		<div id="oneplaylist_header">
			<div id="oneplaylist_header_img">
				<img src="/assets/images/cd.jpg"/>
			</div>
			<div id="oneplaylist_header_text">
				<div>
					<h2>Playlist</h2>
					<h1>Ma playlist</h1>
				</div>
				<button>
					<i class="fa-solid fa-play"></i>Écouter</button>
			</div>
		</div>
		<div id="oneplaylist_table">
			<table style="width:94%; margin-left:3%">
				<thead>
					<tr>
						<th colspan="5" style="width:50%">TITRE</th>
						<th colspan="1" style="width:25%">ARTISTE</th>
						<th colspan="1" style="width:25%">ALBUM</th>
					</tr>
				</thead>
				<tbody id="allTracks">
					{% for track in tracks_api_response %}
						<tr id="track">
							<td style="width:6%">
								<img id="albumCover" src={{ track.contributors[0].picture }} alt="albumImg">
							</td>
							<td style="width:1%">
								{{ loop.index }}.
							</td>
							<td style="width:36%">
								{{ track.title}}
							</td>
							<td>
								<i id="heart" class="fa-regular fa-heart"></i>
							</td>
							<td>
								<i id="plus" class="fa-solid fa-plus"></i>
							</td>
							<td>{{ track.artist.name}}</td>
							<td>{{ track.album.title}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	<div id="bg-dark"></div>
	<div id="modal">
		<span id="add_playlist_modal_header">
			<span class="fa-thin fa-plus"></span>
			Nouvelle playlist</span>
		<span id="add_playlist_name">
			<form action="{{ path('addplaylist.index') }}" method="POST">
				<input id="name_playlist_input" name="name_playlist" type="text" placeholder="Nom de playlist"/>
				<input type="submit" value="" class="arrow-button"/>
			</form>
		</span>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/playlist.js') }}" defer></script>{# <script src="{{ asset('assets/js/getTrackById.js') }}"></script> #}{% endblock %}
