{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/favorite.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/favorite.js') }}"></script>
	<script src="{{ asset('assets/js/getTrackById.js') }}"></script>
{% endblock %}

{% block title %}Hello FavoriteController!
{% endblock %}

{% block main %}
	{{ parent() }}
	<div class="favorite_container">
		<div class="favorite_title">
			<i class="fa-solid fa-heart"></i>
			<h2>Favoris</h2>
		</div>

		<div class="favorite_general">

			<p>
				<span>2</span>
				coups de coeur
			</p>
			<button id='listen' class="favorite_btn" onclick="listenMusic()" type="button">
				<i class="fa-solid fa-play"></i>
				Écouter</button>
			<hr>
		</div>
	</div>

	<div id="favorite_empty">
		<p id="p_empty">
			Cliquez sur
			<i class="fa-solid fa-heart"></i>
			pour ajouter en favoris
		</p>
	</div>


	{# ---------Modal add track in playlist------------------ #}
	{# <div id="bg-dark"></div>
				<div id="modal">
					<span id="add_playlist_modal_header">
						<span class="fa-thin fa-plus"></span>
						Ajouter à une playlist</span>
					<span id="add_playlist_name">
						<form action="{{ path('discovery.index') }}" method="POST">
							<input type="hidden" name="track_id" id="track_id_input" value="">
							<select id="mySelect" name="playlist">
								{% for playlist in playlists %}
									<option value={{ playlist.getId() }}>{{ playlist.getNamePlaylist() }}</option>
									<hr>
								{% endfor %}
							</select>
							<input type="submit" value="Ajouter" id="submit-button"/>
						</form>
					</span>
				</div> #}
{% endblock %}
