{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/favorite.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/favorite.js') }}"></script>
{% endblock %}

{% block title %}Favorite
{% endblock %}

{% block main %}

	{# // utile ?? // #}
	{# {{ parent() }} #}
	{# //utile ?? // #}


	{# {{ dump(userNum) }} #}

	{# {{ dump(favoriteList[0].getIdTrack()) }} #}


		<div class="favorite_container"> <div class="favorite_title">
			<i class="fa-solid fa-heart"></i>
			<h2>Favoris</h2>
		</div>

		<div class="favorite_general">

			<p>
				<span>
					{{ favoriteList|length }}
				</span>
				coups de coeur
			</p>
			<button id='listen' class="favorite_btn" onclick="listenMusic()" type="button">
				<i class="fa-solid fa-shuffle"></i>
				Aléatoire</button>
			<hr>
		</div>
		{% if (isAlreadyInPlaylist is defined) and (isAlreadyInPlaylist != "") and (isAlreadyInPlaylist == true) %}
			<div id="error_message">Ce morceau est déjà dans cette playlist</div>
		{% elseif isAlreadyInPlaylist is defined and (isAlreadyInPlaylist != "") and isAlreadyInPlaylist == false %}
			<div id="confirmation_message">Votre morceau a bien été ajouté à la playlist</div>
		{% endif %}
	</div>


	{% if responseTrack is defined and responseTrack|length != 0 %}

		<table style="margin:3%">
			<thead>
				<tr>
					<th class='img-td'></th>
					<th class='title-td'>TITRE</th>
					<th class='heart-td'></th>
					<th class='artist-td'>ARTISTE</th>
					<th class='album-td'>ALBUM</th>
				</tr>
			</thead>
			<tbody id="allTracks">


				{% for i in range(0, responseTrack|length - 1) %}

					{# {{ responseTrack[i].id }} #}
					{# {{ dump(favoriteList[i].idTrack) }} #}

					<tr class="track-container" id="{{ responseTrack[i].id }}" onclick="changeMusicInPlayer(this,event)">
						<td class="img-td">

							<img id="albumCover" src={{ responseTrack[i].album.cover_big }} alt="albumImg">
						</td>
						<td class="title-td">
							<div>
								<span>{{responseTrack[i].title}}</span><br>
								<span class='artist-mobile'>{{responseTrack[i].artist.name}}</span>
							</div>
						</td>
						{% if favoriteList[i].idTrack ==  responseTrack[i].id %}
							<td class="heart-td">
								<input name="heart" type="checkbox" id={{'heart-' ~ responseTrack[i].id}} onchange="updateFavorite(this)" checked>
								<label for={{'heart-' ~ responseTrack[i].id}}></label>
							</td>
						{% else %}
							<td class="heart-td">
								<input name="heart" type="checkbox" id={{'heart-' ~ responseTrack[i].id}} onchange="updateFavorite(this)">
								<label for={{'heart-' ~ responseTrack[i].id}}></label>
							</td>
						{% endif %}
						<td class="artist-td">{{responseTrack[i].artist.name}}</td>
						<td class="album-td">{{responseTrack[i].album.title }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
		<div id="favorite_empty">
			<p id="p_empty">
				Cliquez sur
				<i class="fa-solid fa-heart"></i>
				pour ajouter en favoris
			</p>
		</div>

	{% endif %}

	{# ---------Modal add track in playlist------------------ #}


	<div id="bg-dark"></div>
	<div id="modal">
		<span id="add_playlist_modal_header">
			<span class="fa-thin fa-plus"></span>
			Ajouter à une playlist</span>
		<span id="add_playlist_name">
			<form action="{{ path('favorite.index') }}" method="POST">
				<input type="hidden" name="track_id" id="track_id_input" value="">
				<select id="mySelect" name="playlist">
					{% for playlist in playlists %}
						<option value={{ playlist.getId() }}>{{ playlist.getNamePlaylist() }}</option>
						<hr>
					{% endfor %}
				</select>
				<input type="submit" value="Ajouter" id="submit-button"/>
			</form>
		</span>
	</div>


</div>{% endblock %}
